@font-face {
    font-family:exo ;
    src: url(../font/Exo-VariableFont_wght.ttf);
}
input:focus ,select:focus {
  border:#7344A7  3px solid !important;
  outline: none !important ;
   box-shadow: none !important;
}
body{
    font-family: exo;
}
.my-nav span{
font-family:exo ;
font-size:24px ;
font-weight:700 ;
}
.my-nav ul{
    font-family:exo ;
font-size:16px ;
font-weight:600 ;
}

.section1 {
  background-image: linear-gradient(rgb(69, 27, 94 ,0.5), rgb(69, 27, 94 ,0.5)), url(../img/hero-bg-img.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  
}

.caption h1{
    font-family:exo ;
font-size:60px ;
font-weight:700 ;
}
.caption .my-p{
    color: oklch(0.928 0.006 264.531);
     font-family:exo ;
font-size:20px ;
font-weight:400 ;

}
.w-60{
    width: 60%;
}
div .parent{
    background-color: white;
}

.location2{
  position: absolute;
  bottom :16px;
  left: 3px;
  transform: translateY(-50%);
  color: gray;
}
.location{
    font-size: 14px;
    font-weight:500 ;
    font-family:exo ;
}
.location1{
    font-size: 16px;
    font-weight:400 ;
    font-family:exo ;
    color: #99A1AF;
}
.location2{
     font-size: 16px;
    color: #99A1AF;
}
.num{
    color:oklch(0.894 0.057 293.283);

}
.serach{
    width: 100%;
    background-color: blueviolet;
    font-family:exo ;
    font-size:18px ;
    font-weight:600 ;
    border:none;
    color:white;
    padding: 1rem 2rem;
    border-radius: .5rem;


}
.serach:hover{
    background-color: #7C00DF;
}

.bg-gray{
    background-color: #F9FAFB;
    
}
.main-color{
    color:oklch(0.491 0.27 292.581);
}
.w-fitcontant{
    border:2px solid #DDD6FF;
    width: fit-content;
}
.title {
    display: flex;
    align-items: center;       
    justify-content: center;   
    gap: 10px;                 
    font-family: exo;
    font-weight: 700;
    color: oklch(0.491 0.27 292.581);
    font-size: 12px;
}
.title1 {
    display: flex;
    align-items: center;       
    justify-content: center;   
    gap: 10px;                 
    font-family: exo;
    font-weight: 700;
    color: oklch(0.491 0.27 292.581);
    /* background-color: #F8F4FF; */
    font-size: 12px;
    
}
.title1::before {
    content: "";
    display: block;            
    width: 120px;
    height: 4px;
    background: linear-gradient(to right, transparent ,#FFAA00);
    border-radius: 2px;
}
.title1::after {
    content: "";
    display: block;           
    width: 120px;
    height: 4px;
    background: linear-gradient(to right, #FFAA00, oklch(0.491 0.27 292.581),transparent );
    border-radius: 2px;
}
.title::before {
    content: "";
    display: block;            
    width: 120px;
    height: 4px;
    background: linear-gradient(to right, transparent , oklch(0.491 0.27 292.581));
    border-radius: 2px;
}
.title::after {
    content: "";
    display: block;           
    width: 120px;
    height: 4px;
    background: linear-gradient(to right, oklch(0.491 0.27 292.581),transparent );
    border-radius: 2px;
}
.Featured{
    font-family: exo;
    font-size: 48px;
    font-weight:900 ;
}
.Properties{
    background-image: linear-gradient(to right,#9C2AF4,#F99800);
    background-clip: text;
    color:transparent;
}
.Discover{
    font-family: exo;
    font-size: 20px;
    font-weight:400 ;
    color:oklch(0.446 0.03 256.802);
}
.photo{
    color: white;
   background-color: rgba(0, 0, 0, 0.6);
    width: fit-content;
    bottom: 7px;
    left:6px;
    padding: 3px 8px;
}
.Feature{
    color: white;
   background-color:#9C2AF4;
    width: fit-content;
    top: 6px;
    left:6px;
    
}
.heart{
    color:#4A5565;
   background-color:#E7EBEC;
    width: fit-content;
    top: 6px;
    right:6px;
    
}
.heart:hover{
    color:#FB2C36;
}
.card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.w-20{
    width: 20%;
}
.img-card{
    overflow: hidden;
    height: 250px;
}
.card-img-top{
    transition: transform 0.3s;
}
.inner:hover .card-img-top{
transform: scale(1.1);
}
.fs-p1 {
    font-size: 16px;
    font-weight: 500;
    font-family: exo;
    color:oklch(0.446 0.03 256.802);
}
.fs-p{
    font-size:14px;
    font-family: exo;
    font-weight: 400;
    color:oklch(0.551 0.027 264.364);
}
.my-btn{
    color:oklch(0.541 0.281 293.009);
    background-color:#DDD6FF;
    border-radius: 8px;

}
.my-btn:hover{
    background-color: #99A1AF;
}
.w-40{
    width: 30;
}
.bg-orang{
    background-color: #E17100;
}
.my-btn2{
    background-color: #9613FB;
    border:none;
    border-radius: 5px;
    font-size:16px ;
    font-weight:600;
    font-family: exo;
}
.my-btn2:hover{
    background-color: #7344A7;
}
.my-btn3{
    background-color: #2CB760;
    border:none;
    border-radius: 5px;
    font-size:16px ;
    font-weight:600;
    font-family: exo;
}
.my-btn2:hover{
    background-color: #008236;
}
.text-green{
    color: #2CB760;
}
.icon{
    background-color:#EDE9FE;
  padding: 15px 15px;
  border-radius: 8px;
  font-size: 16px;
  color:#9613FB;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 45px;
  font-size: 20px;
  margin-right: 15px;
}
.icon2{
    background-color:#DBFCE7;
  padding: 15px 15px;
  border-radius: 8px;
  font-size: 16px;
  color:#2CB760;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 45px;
  font-size: 20px;
  margin-right: 15px;
}
.smpile{
    font-family:exo ;
    font-size: 30px;
    font-weight:700 ;

}
.expert{
    font-family:exo ;
    font-size: 18px;
    font-weight:400 ;
    color:oklch(0.446 0.03 256.802);

}
.Property{
    font-family:exo ;
    font-size: 20px;
    font-weight:600 ;

}
.access{
     font-family:exo ;
    font-size: 16px;
    font-weight:400 ;
    color:oklch(0.446 0.03 256.802);

}
.contant-img2{
    overflow: hidden;
    margin-top:50px;
    width: 70%;
max-height: 350px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    object-fit: cover;


}
.contant-img3{
    overflow: hidden;
    margin-top:50px;
    width: 80%;
max-height: 400px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    object-fit: cover;


}
.padge{
    position: absolute;
    border-radius: 8px;
    bottom: -10px;
    left:-23px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.padge2{
    position: absolute;
    border-radius: 8px;
    bottom: -10px;
    right:-23px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.my-nav{
    font-size: 16px;
    font-family:exo ;
    font-weight: 600;
    color:#4A5565 ;

}
.my-nav-tab{
  color:oklch(0.446 0.03 256.802);
  font-size:16px ;
  font-weight: 600;
  font-family: exo;

}

.nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color:#7344A7;
    border-bottom:  1px solid #E2DADA
;
}
.nav-pills .nav-link.active {
    color: #7344A7 !important;       
    background-color: #F5F3FF !important; 
    border-bottom: 2px solid #7344A7; 
    border-radius: 0;
}
.nav {
    --bs-nav-link-padding-x: 2rem;
    --bs-nav-link-padding-y: 1rem;
    --bs-nav-link-font-weight:600 ;
    --bs-nav-link-color:oklch(0.446 0.03 256.802); 
    --bs-nav-link-hover-color: var(--bs-nav-pills-link-active-color);
    --bs-nav-link-hover-color: ;
    display: flex
;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-pills li:hover .nav-link:not(.active) {
    border-bottom: 2px solid #99A1AF;
    color: #7344A7;
    border-radius: 0;
}

#testimonials{
    background-color: #7344A7;

}
.w-10{
    width: 8%;
}
.carousel-control-prev {
    left: -100px;   
}

.carousel-control-next {
    right: -100px;  
}
.carousel-indicators {
    bottom: -50px;   
}
.carousel-indicators [data-bs-target] {
    width: 12px;         
    height: 12px;
    border-radius: 50%;   
    background-color: #888; 
}

.carousel-indicators .active {
    background-color: white;  
    opacity: 1;
}
.star{
    color:#FFB900;
    font-size: 20ox;
}
.star1{
    font-weight: 500;
    font-size: 16px;
    font-family: exo;
    color:oklch(0.446 0.03 256.802);
}
.caption-star{
    font-weight: 400;
    font-size: 20px;
    font-family: exo;
    color:oklch(0.446 0.03 256.802);
}
.info{
     font-weight: 400;
    font-size: 16px;
    font-family: exo;
    line-height: 1.2px;
    margin-left: 8px;
}
#testimonials {
    overflow-x: hidden;
}
#faq{
    background-color: #F9FAFB;
}

.accordion {
    --bs-accordion-color: black;
    --bs-accordion-bg: white;
    --bs-accordion-border-radius: 8px;
    --bs-accordion-btn-padding-x: 2rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-body-padding-x: 2rem;
    --bs-accordion-body-padding-y: 1rem;
}

.accordion-item {
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
}

.accordion-button {
    border-radius: 8px !important;
    background-color: white !important;
    transition: background-color .2s ease-in-out;
    box-shadow: none !important;
    outline: none !important;
}

.accordion-button:hover,
.accordion-button:not(.collapsed):hover {
    background-color: #F9FAFB !important;
}

.accordion-button:not(.collapsed) {
    background-color: white !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
}

.accordion-button:focus {
    box-shadow: none !important;
    outline: none !important;
}

.accordion-body {
    background: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    font-family: exo;
    color:#4A5565;
}

.accordion-header{
    font-size: 20px;
    font-weight: 600;
    font-family: exo;
}
.call{
    border:2px solid #F6F4FF;
    border-radius: 8px;
    padding: 20px;
      transition: all 0.3s ease;

}
.call:hover{
    border-color: #8332FF;
    transform: translateY(-8px);
}
.phone{
 background-color:#8539FF;
  padding: 20px 15px;
  border-radius: 8px;
  font-size: 16px;
  color:white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  font-size: 20px;
  margin-bottom: 15px;
transition: all 0.3s ease;

}
.call-us{
    font-size:18px ;
    font-weight: 700;
    font-family: exo;
}
.date{
    font-size:14px ;
    font-weight: 400;
    font-family: exo;
    color:oklch(0.446 0.03 256.802);
}
.call:hover .phone {
  transform: scale(1.15);
}
.email{
 background-color:#9B1CFC;
  padding: 20px 15px;
  border-radius: 8px;
  font-size: 16px;
  color:white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  font-size: 20px;
  margin-bottom: 15px;
transition: all 0.3s ease;

}
.email-card:hover{
    border-color:#9B1CFC;
    transform: translateY(-8px);
}
.email-card{
    border:2px solid #F6F4FF;
    border-radius: 8px;
    padding: 20px;
      transition: all 0.3s ease;

}
.email-card:hover .email {
  transform: scale(1.15);
}
.location5{
  background-image: linear-gradient(#E65ED1,#F9933C);
  padding: 20px 15px;
  border-radius: 8px;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  font-size: 20px;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.location-card3{
    border:2px solid #F6F4FF;
    border-radius: 8px;
    padding: 20px;
    transition: all 0.3s ease;
}

.location-card3:hover{
    border-color:#E86BBC;
    transform: translateY(-8px);
}
.location-card3:hover .location5{
  transform: scale(1.15);
}
.chat{
background-color: #574DFB; 
 padding: 20px 15px;
  border-radius: 8px;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  font-size: 20px;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.chat-card{
    border:2px solid #F6F4FF;
    border-radius: 8px;
    padding: 20px;
    transition: all 0.3s ease;
}

.chat-card:hover{
    border-color:#574DFB;
    transform: translateY(-8px);
}
.chat-card:hover .chat {
  transform: scale(1.15);
}
.bg-f{
    background-color:#F6F7F9;
}
.adderss{
background-color: white; 
 padding: 20px 15px;
  border-radius: 8px;
  color:#574DFB;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font-size: 20px;
  margin-right: 15px;
}
.adrees-info{
    line-height: 1px;
    margin-bottom: 10px;
}
.adress{
    font-size: 16px;
    font-weight: 600;
    font-family: exo;

}
.address-caption{
    font-size: 14px;
    font-weight: 400;
    font-family: exo;
    color: oklch(0.446 0.03 256.802);
}
.Contact-info{
font-size: 24px;
    font-weight: 700;
    font-family: exo;
}
.phone2{
background-color: white; 
 padding: 20px 15px;
  border-radius: 8px;
  color:#9810FA;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font-size: 20px;
  margin-right: 15px;
}
.mail{
background-color: white; 
 padding: 20px 15px;
  border-radius: 8px;
  color:#E60076;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font-size: 20px;
  margin-right: 15px;
}
.clock{
    background-color: white; 
 padding: 20px 15px;
  border-radius: 8px;
  color:#4F39F6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font-size: 20px;
  margin-right: 15px;
}
.bg-bk{
    background-image: linear-gradient(#8C1BFC,#9612FA);
}
.social{
    background-color: #A943FC; 
 padding: 20px 15px;
  border-radius: 8px;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font-size: 20px;
  margin-right: 15px;
    transition: all 0.3s ease;

}
.social:hover{
     transform: scale(1.15);
     background-color: #B45CFC;

}
.form{
    border:3px solid #F3F4F6;
    padding: 20px;
}